{% extends 'base.html' %}

{% block title %}Ignitase{% endblock %}

{% block content %}
<section id="what-is-ignitase" class="section" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-left">
                <h2 class="section-title">What is Ignitase?</h2>
                <p class="section-content">
                    Ignitase is your one-stop platform for creating powerful influencer marketing campaigns. We
                    spark connections between brands and influential voices, accelerating your brand growth and
                    reaching new heights. Imagine Ignitase as the missing ingredient in your marketing strategy
                    - the catalyst that ignites explosive brand awareness and engagement.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="why-choose-us" class="section" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-left">
                <h2 class="section-title">Why Choose Us?</h2>
                <ul class="section-content">
                    <li>We connect you with a diverse network of highly-engaged influencers, saving you time and resources. Our intuitive platform simplifies communication and streamlines campaign management.</li>
                    <li>We prioritize genuine brand-influencer partnerships that resonate with audiences. Our data-driven tools help you find the perfect influencers to amplify your brand message.</li>
                    <li>We equip you with performance tracking and analytics to measure your campaign success. Our focus on maximizing reach and engagement ensures you get the most out of your influencer marketing budget.</li>
                    <li>Increase brand awareness and drive conversions through authentic influencer partnerships. Build long-term brand loyalty by sparking meaningful connections with your target audience.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<style>


.section {
    padding: 60px 0; 
    background-size: cover;
    background-position: center;
    color: #fff; 
}

#what-is-ignitase {
    background-color: #0A1828; 
}

#why-choose-us {
    background-color: #178582; 
}


.section-title {
    margin-bottom: 20px;
}

.section-content {
    font-size: 1.1em;
}
</style>